* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

a {
    text-decoration: none;
    color: black;
}

main {
    background-color: var(--Soft-red);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.head {
    font-size: 64px;
    color: var(--Dark-brown);
    position: relative;
}

/* .head::before {
    content: "";
    position: absolute;
    background-color: #00F5FF;
    width: 150px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
} */

.head::after {
    content: "";
    position: absolute;
    background-color: #00F5FF;
    width: 150px;
    height: 2px;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
}

.navbar a {
    font-size: 18px;
}

.navbar a:hover {
    color: #00F5FF;
}

.ic {
    color: #00F5FF;
}

header {
    background-color: rgb(255, 241, 224);
}

header img {
    /* height: 600px; */
    width: 460px;
}

.welcome {
    background-color: black;
}

.welcome h1 {
    margin-top: 20px;
}


.About {
    /* background-image: url(../images/nsplsh_c290af62eb9f471993ab237d268a34ec_mv2.webp); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: var(--Very-pale-orange);
    min-height: auto;
    border-top: 2px solid var(--Dark-brown);
}

.About h1 {
    font-size: 54px;
    color: var(--Dark-brown);
    font-weight: bold;
    position: relative;
}

.About h2 {
    font-size: 42px;
    font-weight: bold;
    color: #3A98B9;
}

.About p {
    color: var(--Medium-brown);
    font-size: 22px;
}

.About hr {
    width: 50%;
    color: black;
    font-size: 8px;
    margin: 0 auto;
}

@media (max-width:767px) {
    header img {
        margin: 0;
    }

    .welcome h1 {
        margin-top: 0;
    }

    .welcome p {
        text-align: center;
    }

    .welcome button {
        margin-left: 35%;
    }

    .welcome hr {
        display: none;
    }

    .About h1 {
        font-size: 24px;
    }
}

.since {
    background-color: rgb(255, 241, 224)
}

.since img {
    height: 420px;
}

.space {
    position: relative;
}

.metorid {
    position: absolute;
    right: 30px;
    top: 50px;
}

@media (max-width:989px) {
    .metorid {
        display: none;
    }
}

.since p {
    font-size: 24px;
}

.math {
    background-color: var(--Very-pale-orange);
}

.Physics {
    background-color: rgb(255, 241, 224);
}

.Physics img {
    width: 100%;
    height: 650px;
}

.english {
    background-color: antiquewhite;
}

.english img {
    width: 100%;
    height: 650px;
}

.contact {
    background-color: wheat;
    /* position: absolute; */
}

/* .contact::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
} */

.con .copy {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    background-color: black;
}

footer ul li:hover {
    cursor: pointer;
    color: #00F5FF;
    transition: .3s
}

.chat {
    width: 4;
}

.navbar,
header,
.since {
    background-color: var(--Very-pale-orange);
}

.home {
    width: 1140px;
}

@media (max-width:1139px) {
    .home {
        width: auto;
    }
}

@media (max-width:767px) {
    .vid {
        margin-left: 20px;
    }
}